body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
div {
    height: 250px;
    width: 700px;
    border: 1px solid black;
    text-align: center;
    margin-top: 30px;
}
